/results/*.csv
/results/legacy/
/results/analyze_diff/
/results/legacy/even traffic/
/results/legacy/uneven traffic/
/parameters/traffic/*
!/parameters/traffic/traffic_histogram.py
/utils/node counts/*
/utils/relay counts/*
/utils/traffic counts/*
